name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Enter project folder
        run: cd RotinaGuiada_v1.1_COMPLETO

      - name: Grant execute permission for gradlew
        run: |
          cd RotinaGuiada_v1.1_COMPLETO
          chmod +x gradlew

      - name: Build Debug APK
        run: |
          cd RotinaGuiada_v1.1_COMPLETO
          ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: RotinaNoTrilho-APK
          path: RotinaGuiada_v1.1_COMPLETO/app/build/outputs/apk/debug/app-debug.apk
